<h1 *ngIf="create&&!delete">Crear sesion</h1>
<h1 *ngIf="!create&&!delete" mat-dialog-title>Editar sesion</h1>
<h1 *ngIf="delete" mat-dialog-title>Borrar sesion</h1>

<div mat-dialog-content fxLayout="column">
  <form *ngIf="!delete"  (submit)="onSubmit()"  fxLayout="column" #sessionForm="ngForm" >
      <mat-form-field appearance="fill">
        <mat-label>
            Titulo
        </mat-label>
        <input required matInput [(ngModel)]="sessionData.title">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Descripcion</mat-label>
        <textarea 
          matInput          
          name="message"
          rows="8"
          [(ngModel)]="sessionData.description"           
          #message='ngModel'
        ></textarea>
      </mat-form-field>
      <mat-form-field color="accent" appearance="fill">
        <mat-label>Indique fecha</mat-label>
        <input matInput type="datetime-local" name="date" placeholder="Indique fecha" 
          required [(ngModel)]="sessionData.date">
      </mat-form-field>
    <div>
      <button mat-button color="primary">Agregar</button>
      <button  mat-dialog-close mat-button color="secondary">Cerrar</button>
    </div>
  </form>
  <button *ngIf="delete" mat-dialog-close mat-button color="primary" 
    (click)="deleteSession()">
    Confirmar
  </button>
</div>
