<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!--Toolbar -->
<mat-toolbar color="primary">
  <span class="logo" (click)="setSeleccion(false)">Training Gain</span>
</mat-toolbar>
<div *ngIf="!seleccionado" class="home" >
  <h1 class="titulo" fxLayoutAlign="center">Como desea ingresar hoy?</h1>
  <div fxLayoutAlign="center" >
    <button mat-button color="primary" (click)="setView(false)">Como Especialistas</button>
    <button mat-button color="accent" (click)="setView(true)">Como Cliente</button>
  </div>
</div>
<app-specialists *ngIf = "!cliente && seleccionado"></app-specialists>
<div *ngIf = "cliente && seleccionado" fxFill>
  <h1 fxLayoutAlign="center">Seccion de Clientes</h1>
</div>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


